.item {
    display: flex;
    flex-direction: column;

    .persons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        gap: 10px;
        list-style: none;

        .person {
            width: 600px;
            height: 220px;
            display: flex;
            background-color: #3C3E44;
            border-radius: 10px;
            gap: 10px;
            -webkit-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);


            img {
                width: 230px;
                height: auto;
                border-radius: 10px 0 0 10px;
            }

            .person__title {
                display: flex;
                flex-direction: column;
                padding: 10px 0 10px 0;

                h2 {
                    color: #EDFCFF;
                }

                span {
                    color: #EDFCFF;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .dead {
                        width: 10px;
                        height: 10px;
                        background-color: red; // стиль для мертвого персонажа
                    }

                    .alive {
                        background-color: green; // стиль для живого персонажа
                    }

                    .unknown {
                        background-color: gray; // стиль для неизвестного состояния персонажа
                    }
                }
            }
        }
    }

    .paginate {
        display: flex;
        gap: 20px;
        margin: auto;
        padding: 20px;

        button {
            border: 1px solid orange;
            border-radius: 10px;
            background: none;
            color: white;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}