  .header {
  border-bottom: 1px solid white;
  background-color: #09081C;

  .header__item {
    // max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
    align-items: center;
    margin: auto;

    .header__logo {
      width: 200px;
      height: auto;
    }

    .header__nav {
      margin-left: -13%;

      ul {
        display: flex;
        gap: 50px;
        list-style: none;

        li {
          a {
            text-decoration: none;
            color: white;
            font-size: 20px;
          }

          :global(a.active) {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }
}