@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: url(./imgs/Bg.png);
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #272b33;
}

::-webkit-scrollbar-thumb {
	background-color: #5b5e66;
	border-radius: 10px;
}
